<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>allowAnyShortcut</key>
	<true/>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>bottomCenterSixth</key>
	<dict>
		<key>keyCode</key>
		<integer>40</integer>
		<key>modifierFlags</key>
		<integer>917504</integer>
	</dict>
	<key>bottomLeftSixth</key>
	<dict>
		<key>keyCode</key>
		<integer>38</integer>
		<key>modifierFlags</key>
		<integer>917504</integer>
	</dict>
	<key>bottomRightSixth</key>
	<dict>
		<key>keyCode</key>
		<integer>37</integer>
		<key>modifierFlags</key>
		<integer>917504</integer>
	</dict>
	<key>internalTilingNotified</key>
	<true/>
	<key>lastVersion</key>
	<string>94</string>
	<key>launchOnLogin</key>
	<true/>
	<key>reflowTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
	<key>toggleTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>topCenterSixth</key>
	<dict>
		<key>keyCode</key>
		<integer>34</integer>
		<key>modifierFlags</key>
		<integer>917504</integer>
	</dict>
	<key>topLeftSixth</key>
	<dict>
		<key>keyCode</key>
		<integer>32</integer>
		<key>modifierFlags</key>
		<integer>917504</integer>
	</dict>
	<key>topRightSixth</key>
	<dict>
		<key>keyCode</key>
		<integer>31</integer>
		<key>modifierFlags</key>
		<integer>917504</integer>
	</dict>
</dict>
</plist>
