.config/dotfiles/install.local.env
.config/dotfiles/local.env
.config/git/email.gitconfig
.config/zsh/local.zsh
.config/zsh/work.zsh
.config/zsh/secrets.zsh
.config/tmuxinator/dev.yml
.config/tmux/plugins/
